.parentdiv {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    height: 280px;
    width: 90%;
    /* background-color: red; */
    border: solid green;
  }
  .image1 {
    height: 180px;
    width: 180px;
  }
  
  .details {
    color: blue;
    padding-left: 20px;
  }