ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

li.nav-li {
  float: left;
}

li.nav-li a {
  display: block;
  color: rgb(197, 38, 38);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-li a:hover {
  background-color: #111;
}
