#ipl {
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: grey
}
table {
    border-collapse: collapse;
    width: 100%;
}
table,tr,th,td{
    text-align: left;
}
td,th {
    padding:10px
}
th {
    font-weight: bold;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: grey;
}