.contactForm {
    background-color: beige;
    border: 2px solid blue;
    width: 30%;
    height: 300px;
    margin: 100px 10px 10px 500px;
    padding-left: 100px;
  }
  .contactForm > h1 {
    margin-bottom: 20px;
  }
  
  input {
    margin: 0px 20px 20px 0;
  }